<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="title-skelly"> 
        <h1 class="title-text">the best website in the wurld</h1>
    </header>

    <div class="made-for-centering-lol">
        <div class="blog-container">
            <nav class="nav">
                <h2>Links:</h2>
                <ul>
                    <li class="nav-link"><a href="index.html">home</a></li>
                    <li class="nav-link"><a href="blog.html">all posts</a></li>
                    <li class="nav-link"><a href="/link/">this is a link</a></li>
                </ul>
            </nav>
            <div class="blog-main">
                <h1>{{title}}</h1>
                <p>{{date}}</p>
                <div>
                    {{content}}
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>this is where your feet go</p>
    </footer>
</body>

</html>