<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <title>blog</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <header class="title-skelly"> 
        <h1 class="title-text">site of &langle;m&rangle;</h1>
    </header>

    <div class="made-for-centering-lol">
        <div class="top-banner">
            <p>placeholder</p>
        </div>

        <div class="blog-container">
            <nav class="nav">
                <h2>nav</h2>
                <ul>
                    <li class="nav-link"><a href="index.html">home</a></li>
                    <li class="nav-link"><a href="my-art.html">my art + stuff</a></li>
                    <li class="nav-link"><a href="about-me.html">about me</a></li>
                </ul>
            </nav>
            <div class="blog-main">
                <h2>Post History</h2>
                <ul class="post-list">{{posts}}</ul>
            </div>
        </div>
    </div>
    
    <footer>
        <a href="https://github.com/Mildler" target="_blank">
            <img class="github-icon" src="images/github_logo.png" alt="pic missing">
        </a>
    </footer>
</body>

</html>