/* behind the curtains */
:root {
    --bg-color: rgb(111, 175, 249);
    --bg-header-color: hsl(from var(--bg-color) h s calc(l + 10));
    --bg-footer-color: hsl(from var(--bg-color) h s calc(l + 10));
    --border-std: 0.2rem solid black;
    --header-height: 5rem;
    --footer-height: 3rem;
}

body {
    margin: 0;
    font-family:'Courier New', Courier, monospace;

    background-color: var(--bg-color)
}

h2 {
    text-align: center;
}

* {
    box-sizing: border-box;
}

/* top */
.title-skelly {
    display: flex;
    justify-self: top;
    justify-content: center;
    height: var(--header-height);

    background-color: var(--bg-header-color);
}

.title-text {
    font-size: 2rem;
}

/* formatting the body */
.made-for-centering-lol {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2rem;
}

/* home page */
.content-container {
    display: grid;
    gap: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    height: calc(100vh - var(--header-height) - var(--footer-height));
    padding-bottom: 2rem;

    grid-template-columns:
    minmax(6rem, 12rem)
    minmax(16rem, 32rem)
    minmax(6rem, 12rem);
    grid-template-rows:
    auto auto 1fr;
    grid-template-areas: 
    "sidebar-L main sidebar-R"
    "sidebar-L main sidebar-R"
    "sidebar-L main chatbox";
}

/* nav */
.nav {
    grid-area: sidebar-L;

    border: var(--border-std);
}

.nav-link {
    margin-bottom: 0.5rem;
}

/* middle content*/
.content-main {
    grid-area: main;

    border: var(--border-std);
}

/* tiny about me section*/
.about-snip {
    grid-area: sidebar-R;

    border: var(--border-std);
}

.pfp {
    display: block;
    margin: 1rem auto 0 auto;
    width: 4rem;
    height: 4rem;
    text-align: center;
}

/* chatbox things*/
.chat-container {
    grid-area: chatbox;
    display: flex;
    flex-direction: column;
    min-height: 0;

    border: var(--border-std);
}

.chat-box {
    display: flex;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;
    flex-direction: column;
}

.chat-input-row {
    display: flex;
}

#chat-input {
    min-width: 0;
}

#send-button {
    padding: .25rem .8rem;
}

/* bottom */
footer {
    display: flex;
    justify-content: center;
    height: var(--footer-height);

    background-color: var(--bg-footer-color);
}

/* blog page */
.blog-container {
    display: inline-grid;
    gap: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    padding-bottom: 2rem;

    grid-template-columns:
    minmax(6rem, 12rem)
    minmax(16rem, 32rem);
    grid-template-rows:
    auto auto;
    grid-template-areas: 
    "sidebar-L main"
    "sidebar-L main"
}

.blog-main {
    grid-area: main;

    border: var(--border-std);
}


